# Ignorar arquivos desnecessários no build do Docker
target/
.git
.gitignore
README.md
Dockerfile
docker-compose.yaml
.dockerignore
*.md

# Arquivos IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs
*.log

# OS
.DS_Store
Thumbs.db